@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:ital,wght@0,100..900;1,100..900&family=Story+Script&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
 
 :root {
     --dourado: #C8A24D;
     --preto-profundo: #0F0F14;
 }

 body {
     background-color: var(--preto-profundo);
     font-family: 'Inter', sans-serif;
     color: white;
 }

 h1,
 h2,
 h3 {
     font-family: 'Playfair Display', serif;
     letter-spacing: 0.1em;
 }

 .text-dourado {
     color: var(--dourado);
 }

 .bg-dourado {
     background-color: var(--dourado);
 }

 .cookies-section {
     background: radial-gradient(circle at top, #1a1a24 0%, #0F0F14 100%);
 }

 .cookie-card {
     background: rgba(255, 255, 255, 0.02);
     border: 1px solid rgba(255, 255, 255, 0.05);
 }

 .cookie-card:hover {
     background: rgba(255, 255, 255, 0.04);
     border-color: rgba(200, 162, 77, 0.3);
 }

 .control-box {
     border: 1px dashed rgba(200, 162, 77, 0.4) !important;
     background: rgba(200, 162, 77, 0.02) !important;
 }

 .btn-elegant {
     border: 1px solid var(--dourado);
     color: var(--dourado);
     text-transform: uppercase;
     letter-spacing: 0.3em;
     font-size: 10px;
     transition: all 0.3s ease;
 }

 .btn-elegant:hover {
     background: var(--dourado);
     color: black;
 }

 .star-icon {
     filter: drop-shadow(0 0 5px var(--dourado));
 }

 ::-webkit-scrollbar {
     width: 6px;
 }

 ::-webkit-scrollbar-track {
     background: var(--preto-profundo);
 }

 ::-webkit-scrollbar-thumb {
     background: var(--dourado);
     border-radius: 10px;
 }

 /*Deixa tudo dourado*/
 ::-webkit-scrollbar {
     width: 10px;
     height: 10px;
 }

 ::-webkit-scrollbar-track {
     background: #0F0F14;
 }

 ::-webkit-scrollbar-thumb {
     background: #C8A24D;
     border-radius: 5px;
     border: 2px solid #0F0F14;
 }

 ::-webkit-scrollbar-thumb:hover {
     background: #A6863D;
 }

 ::selection {
     background-color: #C8A24D;
     /* Fundo dourado ao selecionar */
     color: #0F0F14;

 }

 ::-moz-selection {
     background-color: #C8A24D;
     color: #0F0F14;
 }